.markdown-content {
  line-height: 1.5;
}

.markdown-content h1 {
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.markdown-content h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

.markdown-content h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.4em;
  line-height: 1.4;
}

.markdown-content p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.markdown-content ul,
.markdown-content ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-left: 1.625em;
}

.markdown-content li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.markdown-content code {
  background-color: rgba(255, 255, 255, 0.1);
}

.markdown-content pre {
  background-color: rgba(255, 255, 255, 0.05);
}

.markdown-content pre code {
  background-color: transparent;
  padding: 0;
  font-weight: 400;
}

.markdown-content blockquote {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-left: 1em;
  border-left: 4px solid rgba(255, 255, 255, 0.2);
}

.markdown-content a {
  color: #60a5fa;
  text-decoration: underline;
}

.markdown-content hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.markdown-content table {
  width: 100%;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown-content table th,
.markdown-content table td {
  padding: 0.5em 1em;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.markdown-content table th {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05);
}

.markdown-content input[type="checkbox"] {
  margin-right: 0.5em;
  margin-left: 0;
}

